.hero {
  height: 91vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 100px 90px;
  background: linear-gradient(to right, #00bcd4, #2196f3);
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #fff;
  color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #ddd;
}